h4,
h5,
h6,
h1,
h2,
h3 {
    margin-top: 0;
}

ul,
ol {
    margin: 0;
}

p {
    margin: 0;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    background: #000;
    overflow-x: hidden;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

/*-- login --*/

.login-logo {
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    padding: 50px 0;
}

h2.form-heading {
    margin: 0;
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
}

body#login {
    background: url(../images/bg.jpg)no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 850px;
}

.app-cam {
    width: 22%;
    margin: 3em auto auto auto;
}

.app-cam input[type="text"] {
    width: 100%;
    padding: 15px 0 ;
    text-indent: 1.5em;
    color: #999;
    font-size: 0.85em;
    outline: none;
    font-weight: 300;
    border: none;
    background: #faffbf;
    margin: 0 0 1em 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

.app-cam input[type="password"] {
    width: 100%;
    padding: 15px 0;
    text-indent: 1.5em;
    color: #999;
    font-size: 0.85em;
    outline: none;
    font-weight: 300;
    border: none;
    background: #faffbf;
    margin: 0 0 1em 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

.copy {
    background: #fff;
    text-align: center;
    padding: 1.5em 0;
}

.copy p,
.copy_layout p {
    font-size: 0.85em;
    color: #555;
}

.copy_layout {
    padding: 1.5em 0;
    text-align: center;
    margin: 4em 0 0em 0;
}

.copy p a,
.copy_layout p a {
    color: #000;
}

.app-cam input[type="button"],
.btn-success1 {
    font-size: 14px;
    font-weight: 300 !important;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 10px 15px;
    width: 100%;
    border: none;
    background: rgb(6, 217, 149);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    text-transform: uppercase;
}

.app-cam input[type="submit"]:hover,
.btn-success1:hover {
    background: rgb(1, 200, 136);
    color: #fff !important;
}

.login-social-link {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 100%;
}

.login-social-link a {
    color: #fff;
    padding: 13px 38px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    width: 46.5%;
    text-align: center;
}

.login-social-link a.facebook {
    background: #3b5999;
    margin-right: 22px;
    float: left;
}

.login-social-link a:hover.facebook {
    background: #2B4886 !important;
    text-decoration: none;
}

.login-social-link a.twitter {
    background: #63c6ff;
    float: left;
}

.login-social-link a:hover.twitter {
    background: #46ACE7 !important;
    text-decoration: none;
}

ul.new {
    margin: 2em 0 0 0;
    list-style: none;
    padding: 0;
}

ul.new li.new_left {
    float: left;
}

ul.new li.new_left p,
p.sign {
    font-weight: 300;
}

p.sign a,
ul.new li.new_left p a {
    color: #000;
}

ul.new li.new_right {
    float: right;
}

.app-cam p {
    color: #000;
    font-size: 14px;
    margin: 1em 0;
}

.form-signin a,
.registration,
.login-body label {
    margin: 1em 0 0 0;
    font-weight: 300;
    font-size: 0.85em;
    text-align: center;
}

.radios input[type="radio"] {
    margin: 4px 0 0 0;
    vertical-align: top;
    cursor: pointer;
    color: #fff;
}

.radios label:first-child {
    margin-left: 0;
}

.radios label {
    margin-left: 15px;
}

/*-- responsive design --*/

.new_center {
    text-align: center;
}

@media (max-width:1366px) {
    .col-xs-8.activity-desc {
        width: 64.666667%;
        padding: 0;
    }
    .activity-desc h5 {
        font-size: 0.85em;
    }
    .svg {
        width: 600px !important;
        height: 400px;
    }
    canvas#doughnut,
    canvas#line,
    canvas#polarArea,
    #bar,
    #pie,
    #radar {
        width: 342px !important;
        height: 260px !important;
    }
    .avatar_left {
        width: 65%;
    }
    .float-left,
    .pull-left {
        width: 47%;
    }
    .login-social-link a.facebook {
        margin-right: 20px;
    }
}

@media (max-width:1280px) {
    .col-xs-8.activity-desc {
        width: 63.666667%;
    }
    .activity-desc p {
        font-size: 12px;
    }
    .activity-desc h6 {
        font-size: 11px;
    }
    i.text-info {
        line-height: 39px;
        font-size: 1em;
    }
    .float-left,
    .pull-left {
        width: 42%;
    }
    .login-social-link a {
        padding: 13px 25px;
        width: 45.5%;
    }
}

@media (max-width:1024px) {
    .r3_counter_box .fa {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .r3_counter_box {
        padding: 10px;
        min-height: 70px;
    }
    .r3_counter_box h5 {
        font-size: 15px;
    }
    .stats span {
        font-size: 13px;
    }
    .activity-img {
        padding: 0 10px;
    }
    .col-xs-8.activity-desc {
        width: 58.666667%;
    }
    .scrollbar {
        padding: 10px;
    }
    .col-xs-1 {
        padding: 0;
    }
    .activity-row {
        margin-bottom: 1em;
    }
    .activity_box {
        min-height: 281px;
    }
    .scrollbar {
        height: 278px;
    }
    .panel-body {
        padding: 10px;
    }
    .panel-title {
        font-size: 15px;
    }
    .panel-heading {
        padding: 20px 0px 0px;
    }
    .stats-info ul li {
        padding: 7.4px 0;
        font-size: 12px;
    }
    div#vmap {
        height: 300px !important;
    }
    .bs-example1 {
        padding: 10px;
    }
    .table td,
    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        padding: 12px !important;
    }
    .table>thead>tr>th,
    .table>tbody>tr>th,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>td,
    .table>tfoot>tr>td {
        font-size: 12px;
    }
    .col_2 {
        padding: 5px;
    }
    .tiles_info .tiles-head {
        padding: 5px 5px;
        font-size: 11px;
    }
    .tiles_info .tiles-body {
        font-size: 22px;
        padding: 15px 15px;
    }
    .grid-date {
        padding: 10px;
    }
    p.date-in,
    span.date-on {
        font-size: 1em;
    }
    .grid-date h4 {
        font-size: 3.5em;
        padding: 44px 0 15px 0;
    }
    canvas#doughnut,
    canvas#line,
    canvas#polarArea,
    #bar,
    #pie,
    #radar {
        width: 222px !important;
        height: 160px !important;
    }
    #page-wrapper {
        background: #f2f4f8;
    }
    .activity-desc h5 {
        font-size: 13px;
    }
    ul.collection,
    .mailbox-content {
        padding: 10px;
    }
    .float-left,
    .pull-left {
        width: 35%;
    }
    .m-r-sm {
        margin-right: 0px;
    }
    .mrg10A {
        margin: 1px !important;
    }
    .tile-progress {
        padding: 15px;
    }
    i.fa.fa-facebook,
    i.fa.fa-twitter,
    i.fa.fa-google-plus,
    i.fa.fa-dribbble,
    i.fa.fa-linkedin,
    i.fa.fa-youtube,
    i.fa.fa-skype,
    i.fa.fa-flickr {
        font-size: 30px;
    }
    h3.count.text-light {
        font-size: 30px;
    }
    .coffee-top i {
        top: 70%;
        background: url(../images/1.png)no-repeat center;
        left: 31%;
        background-size: 70%;
    }
    .follow {
        padding: 3em 0px 2em;
    }
    .two p {
        font-size: 12px;
    }
    .two span {
        font-size: 1.3em;
    }
    .top-on1 p {
        font-size: 0.85em;
    }
    .wid_blog h1 {
        font-size: 1.3em;
    }
    .wid_blog {
        padding: 2em;
    }
    .editor {
        padding: 1em 1em 1.5em 1em;
    }
    .link1 {
        padding: 5px 5px;
    }
    .wid_blog-desc {
        padding: 2.4em 1em;
    }
    .panel_2 {
        padding: 2em 1em 0;
    }
    .online-top {
        padding: 11px;
    }
    .app-cam {
        width: 27%;
    }
    .navbar-right {
        margin-right: -10px;
    }
    .content-box-wrapper {
        padding: 1em;
    }
    i.icon_4 {
        margin-right: 10px;
    }
    span.badge {
        right: 10px;
    }
}

@media (max-width:768px) {
    .navbar-right {
        margin-right: 3px !important;
    }
    .col-md-3.widget {
        width: 100%;
        float: none;
    }
    .span_7,
    .span_8,
    .col_4 {
        padding: 0;
    }
    .span_8,
    .stats-info,
    .col_4 {
        margin-bottom: 1em;
    }
    .span_4 {
        padding: 0;
        margin: 1em 0;
    }
    .col_1_of_2.span_1_of_2 {
        width: 50%;
        float: left;
    }
    .graph_box {
        text-align: center;
    }
    .grid_2 {
        padding: 0;
        margin-bottom: 1em;
    }
    .graph_box1 {
        text-align: center;
    }
    .col-md-8.inbox_right {
        padding: 0;
        margin-top: 1em;
    }
    .col-md-4.widget_1_box1 {
        margin-bottom: 1em;
    }
    .follow {
        padding: 1em;
    }
    .coffee-top {
        text-align: center;
    }
    .coffee-top img {
        display: inline-block;
    }
    .stats-info3 {
        padding: 0;
        margin-bottom: 1em;
    }
    .widget_1_box2 {
        padding: 0;
        margin-top: 1em;
    }
    .wid_blog-desc {
        padding: 1em;
    }
    .copy_layout {
        margin: 1em 0 0em 0;
    }
    .login-social-link a.facebook {
        margin-right: 8px;
    }
    .app-cam {
        width: 30%;
    }
    .login-social-link a {
        padding: 10px 15px;
        width: 47.5%;
    }
    ul.new li.new_left,
    ul.new li.new_right {
        float: none;
    }
    .coffee-top i {
        top: 88%;
        background: url(../images/1.png)no-repeat center;
        left: 44%;
        background-size: 70%;
    }
    .logo-element {
        padding: 17px 0;
    }
    .col-md-3.widget.widget1 {
        width: 100%;
    }
    .grid_box1 {
        margin-bottom: 5px;
    }
    .grid_4,
    .grid_5 {
        padding: 20px 10px;
    }
    .modal-dialog {
        width: 400px !important;
    }
    .bs-example4,
    .bs-example5 {
        padding: 1em;
    }
    ul.new {
        margin: 1em 0 0 0;
        text-align: center;
    }
}

@media (max-width: 840px) and (min-width:768px) {
    .login-social-link a.facebook {
        margin-right: 18px;
    }
}

@media (max-width:736px) {
    .navbar-right~.navbar-right {
        display: block;
    }
    .navbar-right {
        display: none;
    }
    p.monday {
        font-size: 1em;
    }
    .grid-date h4 {
        font-size: 2.5em;
        padding: 20px 0 0px 0;
    }
    .copy {
        padding: 1em 0;
    }
    ul.new {
        text-align: center;
    }
    .grid_box1 {
        margin-bottom: 5px;
    }
    .navbar-default .navbar-toggle {
        border-color: #000;
        background-color: #000 !important;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: rgb(6, 217, 149);
    }
    form.navbar-form.navbar-right {
        margin: 0;
    }
    .sidebar-nav.navbar-collapse {
        margin: 0;
    }
    .media_1-right {
        padding: 0;
    }
}

@media (max-width:480px) {
    .pagination {
        margin: 6px 0;
    }
    span.label.label-default {
        line-height: 2em;
    }
    button.btn.btn-lg,
    button.btn {
        margin-bottom: 10px;
    }
    .modal-dialog {
        width: 370px !important;
    }
    .coffee-top i {
        top: 82%;
        left: 39%;
    }
    .well1 {
        padding: 1em;
    }
    .panel-body1 {
        margin: 1em 0 0 0;
    }
    .panel-warning {
        margin-top: 1em;
    }
    .app-cam {
        width: 50%;
        margin: 2em auto auto auto;
    }
    .app-cam input[type="text"],
    .app-cam input[type="password"] {
        padding: 10px;
    }
    .login-logo {
        padding: 40px 0;
    }
    .float-left,
    .pull-left {
        width: 50%;
    }
    .mail-toolbar.clearfix {
        padding: 1em 0;
    }
    .copy_layout {
        padding: 10px;
    }
    button.btn.btn-success {
        padding: 9px 12px;
    }
    .xs h3,
    .widget_head {
        font-size: 1.5em;
        margin-bottom: 15px;
    }
    .follow {
        padding: 1em 0;
    }
    .widget_1_box2 {
        margin-top: 0;
    }
    .wid_blog h1 {
        font-size: 1em;
    }
    .wid_blog {
        padding: 1em;
    }
    .widget_5 {
        margin: 0;
    }
    .table td,
    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        padding: 5px !important;
    }
    td.head {
        font-size: 1em !important;
    }
}

@media (max-width:320px) {
    .graphs {
        padding: 20px 10px;
    }
    .login-logo {
        padding: 20px 0;
    }
    .login-logo img {
        width: 40%;
    }
    .app-cam {
        width: 70%;
        margin: 1em auto auto auto;
    }
    h2.form-heading {
        font-size: 16px;
    }
    .login-social-link a {
        padding: 8px 15px;
    }
    .pagination-lg>li>a,
    .pagination-lg>li>span {
        padding: 6px 13px;
        font-size: 16px;
    }
    .modal-dialog {
        width: 240px !important;
    }
    .grid_3 {
        margin-bottom: 1em;
    }
    ul.collection li {
        margin-bottom: 1em;
    }
    .m-r-sm {
        font-size: 13px;
    }
    a.btn.btn-default.dropdown-toggle {
        padding: 3px 6px;
        font-size: 13px;
    }
    a.btn.btn-default {
        padding: 3px 9px;
    }
    .btn.btn_1.btn-default.mrg5R {
        padding: 3px 10px;
    }
    a#home-tab {
        padding: 7px 5px;
    }
    .btn-warng1 {
        padding: 5px;
    }
    .coffee-top i {
        top: 73%;
        left: 37%;
    }
    body#login {
        min-height: 500px;
    }
    h1#h1 {
        font-size: 17px !important;
    }
    h2#h2 {
        font-size: 16px !important;
    }
    h3#h3 {
        font-size: 15px !important;
    }
    h4#h4 {
        font-size: 14px !important;
    }
    button.btn.btn_5 {
        font-size: 13px;
        padding: 8px 10px;
    }
    button.btn.btn-lg,
    button.btn {
        margin-bottom: 3px;
    }
    span.btn_6 {
        font-size: 55%;
    }
    span.btn_7 {
        font-size: 64%;
    }
}